<h1>Editar Bodega</h1>

<%= render 'form', bodega: @bodega %>
<div class="actions">
<%= link_to 'Mostrar', @bodega, :class => "btn btn-primary text-decoration-none" %> |
<%= link_to 'Vover', bodegas_path, :class => "btn btn-primary text-decoration-none" %>
</div>