<script src="https://worksystems.cl/jsproject/bootstrap.bundle.min.js"></script>
<div class="table-responsive">
    <h1>Editar Campo</h1>

        <%= render 'form', campo: @campo %>

    <div class="actions">
        <%= link_to 'Volver', campos_path, :class => "btn btn-primary text-decoration-none" %>
    </div>
</div>
