<script src="https://worksystems.cl/jsproject/bootstrap.bundle.min.js"></script>
    <div class="table-responsive">
        <h1>Edita Trabajador</h1>

        <%= render 'form', trabajador: @trabajador %>

        <div class="actions">
            <%= link_to 'Volver', trabajadors_path, :class => "btn btn-primary text-decoration-none" %>
        </div>
    </div>