<script src="https://worksystems.cl/jsproject/bootstrap.bundle.min.js"></script>
    <div class="table-responsive">

        <h1>Nuevo Trabajador</h1>

        <table class="table table-striped table-sm">
            <%= render 'form', trabajador: @trabajador %>
        </table>

        <div class="actions">
            <%= link_to 'Volver', trabajadors_path, :class => "btn btn-primary text-decoration-none" %>
        </div>
    </div>