<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_mantencion.nombre %>
</p>

<%= link_to 'Edit', edit_tipo_mantencion_path(@tipo_mantencion) %> |
<%= link_to 'Back', tipo_mantencions_path %>
