<script src="https://worksystems.cl/jsproject/bootstrap.bundle.min.js"></script>
    <div class="table-responsive">
        <h1>Editar Maquinaria</h1>

        <%= render 'form', maquinarium: @maquinarium %>

        <div class="actions">
            <div class="actions">
            <%= link_to 'Volver', maquinaria_path, :class => "btn btn-primary text-decoration-none" %>
        </div>
    </div>
